.dark-theme {
  background: #171a1c;
  color: #d9d9d9;
}
.dark-theme
      .card,
      .list-group-item,
      input,
      .nav-link {
  background: none!important;
  border-color: #3b4145;
}
.dark-theme input {
  color: #00ffd8;
}
.dark-theme input:focus {
  box-shadow: 0px 0px 5px #00ffd8!important;
  border: none;
}
.dark-theme #loading-screen {
  background: #171a1c!important;
}
.dark-theme .input-group-text {
  color: #d9d9d9;
  background: #2e3438;
}
.dark-theme .opaque {
  background: #171a1c!important;
}
